body {
    margin: 0;
    display: flex;
    height: 100vh;
    font-family: Arial, sans-serif;
}
#map {
    flex-grow: 1;
}
.sidebar {
    width: 25%; /* Make sidebar width responsive */
    max-width: 300px;
    min-width: 150px;
    overflow-y: auto;
    background-color: #f8f9fa;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0,0,0,0.1);
}
.header {
    background: url('https://i.imgur.com/uXxb6nu.jpg') no-repeat center center;
    background-size: cover;
    color: white;
    text-align: center;
    padding: 10px;
    position: relative;
}
.header::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}
.header h1 {
    position: relative;
    z-index: 2;
}
.filter-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}
input[type="text"], select, button {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}
.clickable-item {
    cursor: pointer;
    margin-bottom: 10px; /* Increased margin for better separation */
    padding: 10px; /* Increased padding for better readability */
    background: white;
    border-radius: 5px;
    border: 1px solid #ccc;
    list-style-type: none;
    display: flex;
    flex-direction: column; /* Allow text to wrap properly */
    width: calc(100% - 20px); /* Adjust to take full width minus padding */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    overflow: hidden;
}
img.logo {
    width: 80px; /* Adjusted logo size */
    height: 80px;
    margin-right: 10px;
    align-self: center; /* Center the logo */
}
.clickable-item b {
    font-size: 14px; /* Ensures font size is readable */
    text-align: left;
    white-space: normal; /* Allow text to wrap */
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .sidebar {
        width: 40%; /* Reduce width on smaller screens */
        padding: 5px;
    }
    .header {
        padding: 5px;
    }
    .clickable-item {
        padding: 5px;
    }
    img.logo {
        width: 60px;
        height: 60px;
    }
    .clickable-item b {
        font-size: 12px; /* Adjust font size for smaller screens */
    }
}
